@media (max-width: 575px) {
    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .header_official {
            display: none;
        }
        img{
            width: 200px;
        }
    }
    .promo .promo__wrapper{
        align-items: center;
        .promo__header{
            font-size: 32px;
        }
        .promo__subheader{
            font-size: 18px;
        }
        .promo_icons{
            width: 370px;
        }
    }
    .start{
        .container{
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
            .start_block{
                margin-bottom: 30px;
                .start_img{
                    margin-bottom: 26px;
                }
                .start_sudtitle{
                    margin-bottom: 14px;
                }
            } 
        }
    }
    .consultation{
        .container{
            padding-left: 8px;
            .title_left{
                font-size: 30px;
            }
            .consultation__descr{
                font-size: 18px;
            }
        }
    } 
    .carousel{
        .carousel__inner{
            width: 375px;
        }
    }
    .catalog{
        .catolog__tabs{
            flex-direction: column;
            .catalog__tab{
                margin-bottom: 18px; 
            }
            li:nth-child(3){
                margin-bottom: 0;
            }
        }
    }
    .catalog__content{
        flex-direction: column;
        align-items:center;
    }
    .feadback__block{
        .feadback_avatar{
            width: 60px !important;
            height: 60px !important;
            margin-left: 18px !important;
            margin-right: 16px !important;
            img{
                width: 60px;
                height: 60px;
            }
        }        
    }
    .footer__info{
        width: 100%;
    }
    
}      
    