.carousel{
    padding: 81px 0;
    &__inner{
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -70px;
        border: none;
        background-color: #fff;
        img{
            width: 31px;
            height: 50px;
        }
    }
    .slick-next{
        right: -70px;
        left: auto;
    }
    .slick-dots{
        display: flex;
        width: 119px;
        justify-content: space-between;
        margin: 0 auto;
        li{
            list-style-type: none;
            button{
                background-color: magenta;
                border-radius: 100%;
                width: 16px;
                height: 16px;
                border: none;
            }
    
        }
    }
}