.catalog{
    padding-bottom: 100px;
    .catolog__tabs{
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    .catalog__tab{
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        color: #6b6b6b;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        line-height: 48px;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.4s all;
        &:hover{
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
        div{
            transform: skewX(25deg); /* це щоб в табі текст був рівний а сам там підкутом */
        }
        &_active{
            color: #fff;
            background-color: $main-color;
            border: none;

        }
    }
    .catalog__content{
        margin-top: 60px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active{
            display: flex;
        }
    }
    &-item{
        width: 300px;
        min-height: 440px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        margin-bottom: 20px;
        overflow: hidden;
        &__img{
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle{
            color: #0d0d0d;
            margin-top: 20px;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }
        &__descr{
            color: #0d0d0d;
            margin-top: 14px;
            font-weight: 300;
            text-align: center;
        }
        &__link{
            display: block;
            margin-top: 17px;
            color: $main-color;
            font-size: 14px;
            font-weight: 600;
            text-decoration: underline;
            text-align: center;
            &:hover{
                color: $main-color;
            }
        }
        hr {
            background-color: #e8e8e8;
            margin-top: 19px;
            margin-bottom: 21px;
        }
        &__footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price{
            font-weight: 300;
            font-size: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }
        &__price{
            font-weight: 700;
            font-size: 20px;
            color: #050505;
        }
        &__wrapper{
            display: flex;
            width: calc(200% + 40px);
        }
        &__content{
            width: 50%;
            margin-right: 0px;
            transform: translateX(-103%);
            transition: 0.5s all;
            &_active{
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list{
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;
            padding-left: 19px; /* вот ці -19пх знизу */
            margin-bottom: 0;
            list-style-type: none;
            &_active{
                transform: translateX(-100%);
                margin-left: 0px;
            }
            li {
                position: relative;
                font-weight: 300;
                font-size: 14px;
                color: #555555;
                margin-bottom: 20px;
                &:before{ /* це пресдо елемент для того щоб зробити квадратики збоку */
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -14px;
                    top: 7px;
                }
            }
        .catalog-item__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px)); /* це для того щоб напис був по середині -19пх це падінги в списку див в верх */
            display: block;
            color: $main-color;
            font-size: 14px;
            font-weight: 600;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover{
                color: $main-color;
                }
            }
        }
    }
}