.consultation{
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../../img/second_bg.png) center (center/cover) no-repeat;
    .consultation__descr{
        margin-top: 16px;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
    }
}