.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo { /* це щоб наступне лого мало тіж самі розміри лого */
        width: 250px;
        img {
            width: 100%;
        }
    }
    .header_official {
        font-weight: 500;
        font-size: 12px;
        color: #FFFFFF;
        text-align: center;
        span{
            display: block;
            font-size: 18px;
        }
    }
    .header__phone {
        text-decoration: none;
        display: block;
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        &:hover {
            color:#FFFFFF
        }
    }
    .header_contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}